*{
  margin: 0;
  padding: 0;
  
}
section{
  height: 100%;
  transition: background .5s;
  
}
.section-1{
  width: 70%;
  background: #51589D;
  margin: 10px auto;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid grey;
}
.section-1 .colorBtn{
  padding: 5px;
  margin: 5px auto;
}
.section-2{
  width: 70%;
  height: 100px;
  margin: 10px auto;
  background: #1A1F53;
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  border: 1px solid grey;
}
.section-2 .DTbtn{
  padding: 5px;
  margin: 5px;
}
.section-2 .showDateTime{
  display: inline-block;
  background: white;
  color: #000;
  position: absolute;
}
.section-3{
  width: 70%;
  margin: 10px auto;
  background: #66BE89;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.section-3 input{
  padding: 10px;
  font-size: 1rem;
}
.section-3 .result{
  padding: 10px 15px;
}
.section-3 .sum{
  display: inline-block;
  background: white;
  color: black;
  padding: 5px;
  
}
.black{
  background: black;
  color: white;
}
.border{
  outline: none;
  border-radius: 5px;
  border: none;
}
